.Navbar
{
    display: flex;
    /* border: 1px solid red; */
    background-color: rgb(36,32,33);
}

.Navbar > a
{
    flex: 1;
    padding-top: 20px; 
    color: white;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    
}

.Navbar > a:hover
{
    text-decoration: underline;
}